{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WinDWheel</title>
    <link rel="stylesheet" href="{% static 'miniapp/styles.css' %}">
</head>
<body>
    <header class="header">
        <a href="{% url 'index' %}?user_id={{user_id}}">
            <img src="{% static 'miniapp/icons/logo.png' %}" alt="Casino Logo" class="header__logo">
        </a>
    </header>

    <section class="banner">
        <h1 class="banner__title">WinDWheel</h1>
        <p class="banner__description">
            Все, что тебе нужно - расслабиться и довериться нам.<br>
            Начинай играть, а с остальным разберёмся мы.
        </p>
        <a href="{% url 'profile' %}?user_id={{user_id}}" class="button">Начать</a>
    </section>

    <section class="games">
        <div class="games__list">
            <a class="game-card game-card--crash" href="{% url 'crash' %}?user_id={{user_id}}"></a>
            <a class="game-card game-card--chicken" ></a>
        </div>
    </section>

    <footer class="footer">
        <section class="menu">
            <a class="menu__button" href="{% url 'crash' %}?user_id={{user_id}}">
                <img src="{% static 'miniapp/icons/chart_footer_button.png' %}" alt="Chart" class="menu__icon">
            </a>
            <a class="menu__button">
                <img src="{% static 'miniapp/icons/chicken_footer_button.png' %}" alt="Chicken" class="menu__icon">
            </a>
            <a class="menu__button" href="{% url 'profile' %}?user_id={{ user_id }}">
                <img src="{% static 'miniapp/icons/menu_footer_button.png' %}" alt="Menu" class="menu__icon">
            </a>
        </nav>
    </footer>
</body>
<div class="preloader">
    <svg class="preloader__image" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path fill="currentColor"
        d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z">
      </path>
    </svg>
  </div>
  <script>
    window.onload = function () {
      document.body.classList.add('loaded_hiding');
      window.setTimeout(function () {
        document.body.classList.add('loaded');
        document.body.classList.remove('loaded_hiding');
      }, 500);
    }
  </script>
</html>
