{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WinDWheel</title>
    <link rel="stylesheet" href="{% static 'miniapp/styles.css' %}">
    <link rel="stylesheet" href="{% static 'miniapp/profile_styles.css' %}">
</head>
<body>
    <header class="header">
        <a href="{% url 'index' %}?user_id={{user_id}}">
            <img src="{% static 'miniapp/icons/logo.png' %}" alt="Casino Logo" class="header__logo">
        </a> 
    </header>

    <h1 class="profile__title">Профиль</h1>
    <section class="profile">
        <div class="profile__block">
            <p class="profile__balance">Баланс: {{balance}}₽</p>
            <button class="profile__button--deposit">Deposit</button>
            <button class="profile__button--withdraw">Withdraw</button>
        </div>
    </section>

    <footer class="footer">
        <section class="menu">
            <a class="menu__button" href="{% url 'crash' %}?user_id={{user_id}}">
                <img src="{% static 'miniapp/icons/chart_footer_button.png' %}" alt="Chart" class="menu__icon">
            </a>
            <a class="menu__button">
                <img src="{% static 'miniapp/icons/chicken_footer_button.png' %}" alt="Chicken" class="menu__icon">
            </a>
            <a class="menu__button" href="{% url 'profile' %}?user_id={{user_id}}">
                <img src="{% static 'miniapp/icons/menu_footer_button.png' %}" alt="Menu" class="menu__icon">
            </a>
        </nav>
    </footer>
    <div class="preloader">
        <svg viewBox="25 25 50 50">
            <circle r="20" cy="50" cx="50"></circle>
        </svg>
    </div>
    <script src="{% static 'miniapp/scripts/preloader.js' %}"></script>
</body>
</html>
