/* Общие стили */
body {
    font-family: "Poppins", Arial, sans-serif;
    background: linear-gradient(135deg, #1e1e2e, #23222d);
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.header {
    background: rgba(23, 23, 25, 0.9);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
}

.header__logo {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.header__logo:hover {
    transform: rotate(10deg) scale(1.1);
}

/* Основной контейнер */
.game-container {
    position: relative;
    text-align: center;
    width: 90%;
    max-width: 700px;
}

.game-title {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffcc00;
    text-shadow: 0 0 10px rgba(255, 204, 0, 0.8);
}

/* График */
.graph-container {
    position: relative;
    width: 100%;
    height: 500px;
    background: linear-gradient(135deg, #222, #333);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 20px rgba(255, 230, 0, 0.3);
}

/* Множитель */
.multiplier {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45px;
    font-weight: bold;
    color: #00ff88;
    /* Добавляем эффект Bloom (свечение) для текста с коэффицентом */
    text-shadow: 0 0 10px rgba(0, 255, 136, 0.8);
    transition: all 0.2s ease-in-out;
}

/* Кнопка Bet/Cash Out */
.bet-button {
    position: absolute;
    max-width: 180px;
    max-height: 80px;
    top: 75%;
    right: 5%;
    margin-top: 20px;
    background: linear-gradient(45deg, #41ce00, #88ff00);
    border: none;
    padding: 15px 40px;
    font-size: 35px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease-in-out;
}

.bet-button:hover {
    background: linear-gradient(45deg, #bbff00, #d9ff00);
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(81, 255, 0, 0.6);
}

.bet-button:active {
    transform: scale(0.95);
}

/* Футер */
.game-footer {
    margin-top: 30px;
}

.footer-text {
    font-size: 16px;
    opacity: 0.8;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(23, 23, 25, 0.9);
    padding: 15px 0;
    backdrop-filter: blur(10px);
}

.menu {
    display: flex;
    justify-content: space-evenly;
}

.menu__button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.menu__icon {
    width: 40px;
    height: 40px;
    filter: brightness(0) invert(0.8);
    transition: filter 0.3s ease, transform 0.3s ease;
}

.menu__button:hover .menu__icon {
    filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.5));
    transform: scale(1.1);
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* фоновый цвет */
    background: #353535;
    z-index: 1001;
  }
  
  .preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.5s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }